{% extends 'recommend/main.html'%}
{% block body %}

<style>
body {
    background-image:url("/static/images/bg.png");
    background-color:#474747;
  background-attachment: fixed;
  background-size: cover;
}

.user_card {
			width: 200px;
			height: 330px;
			margin-top: 25px;
			margin-left:auto;
			margin-right:auto;
			margin-bottom: 25px;
			background: #000;
			position: relative;
			display: flex;
			justify-content: center;
			flex-direction: column;
			padding: 10px 13px;
			box-shadow: 4px 4px 5px 0 rgba(255, 255, 255, 0.5), 4px 6px 5px 0 rgba(255, 255, 255, 0.5);
			border-radius: 20px;
		}
* {
  box-sizing: border-box;
}

form.form-horizontal input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.form-horizontal button {
  float: left;
  width: auto;
  padding: 10px;
  background: #007bff;
  color: white;
  font-size: 20px;
  border: 1px solid grey;
  border-left: none;
  border-radius:3px;
  cursor: pointer;
}

form.form-horizontal button:hover {
  background: #0b7dda;
}

form.form-horizontal::after {
  content: "";
  clear: both;
  display: table;
}

.movie{
    width:20%;
}
</style>

<br>
<center/><h2 style="color:#fff">My List</h2>
<br>
<!-- Movie list -->
<div class="row">
    {% if movies %}
    {% for movie in movies %}
    <div class="movie">
        <div class="column" style="padding:0 15px;">
            <div class="user_card" style="border-radius: 22px 22px 22px 22px;">
                <center><h5 style="color:#fff;font-size:18px">{{movie.title}}</h5></center>
                <a href="{% url 'detail' movie.id %}">
                    <img src="{{ movie.movie_logo.url}}" class="img-responsive" style="border-radius: 22px 22px 22px 22px;">
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
        <div class="column mx-auto alert alert-danger">
           <strong>Sorry!</strong> No movies in your list.
        </div>
    {% endif %}
</div>

{% endblock %}

